#conteudo{
    background: #dcdcdc;
    height: 600px;
    display: flex;

    
    

}

.item{
    height: 100px;
    margin: 10px;
    background: white;
    border: 1px solid gray;

    /*Item cresce horizontalmente se tiver espaço para isso*/
    flex-grow: 0;

    /*Item encolhe, oposto do grow. Item que possui o shinrk maior é o que mais
    vai encolher*/
    flex-shrink: 1;


    /*o basis define o tamanho inicial de cada item*/

    flex-basis: 100px;
}

.item1{
    flex-shrink: 1;
}

.item1{
    flex-shrink: 2;
}

.item2{
    flex-shrink: 5;
}



/*
.ordem1{
    order: 1;
}

.ordem2{
    order: 2;
}

.ordem3{
    order: 3;
}

.ordem4{
    order: 4;
}

*/